source_of_truth/Developer Assessment AoS Brief.pdf
source_of_truth/Assessment.md

# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/*.log

frontend/CLAUDE_frontend.md
CLAUDE.md
DELIVERABLES.md

# Backend / Python
backend/.env
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# System and Editor
.DS_Store
.vscode/
.idea/
